{% if page.title == "Home"
   or page.title == "About"
   or page.title == "Work"
   or page.title == "Blog"
   or page.title == "Projects"
%}{% assign showDetails = true %}{% endif %}

{% if hideHeader != true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        <span class="link">
            <img class="u-photo selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url_base }}/{{ site.picture }}{% endif %}" />
        </span>

        {% if showDetails == true %}
	        <h1 class="title">{{ site.name }}</h1>
	        <h2 class="description">{{ site.bio }}</h2>
		{% endif %}
		
        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
