<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item {% if page.title == 'Home' %}active{% endif %}">
                <a class="link" href="{{ site.url_base }}/#">Home</a>
            </li>
        {% endif %}

		{% if site.about == true %}
	        <li class="item {% if page.title == 'About' %}active{% endif %}">
	            <a class="link" href="{{ site.url_base }}/#about">About</a>
	        </li>
		{% endif %}

        {% if site.projects == true %}

            <li class="item {% if page.title == 'Projects' or include.section == 'Projects' %}active{% endif %}">
                <a class="link" href="{{ site.url_base }}/#projects">Projects</a>
            </li>
        {% endif %}


            <!-- <li class="item {% if page.title == 'Updates' or include.section == 'Updates' %}active{% endif %}">
                <a class="link" href="{{ site.url_base }}/#feed">Updates</a>
            </li> -->

        {% if site.projects == true %}

            <li class="item {% if page.title == 'Work' or include.section == 'Work' %}active{% endif %}">
                <a class="link" href="{{ site.url_base }}/#work">Work</a>
            </li>
        {% endif %}

        <li class="item">
            <a class="link" target="_blank" href="http://blog.mayel.space/">Blog</a>
        </li>


        {% if site.blog == true %}
            <li class="item {% if page.title == 'Blog' %}active{% endif %}">
                <a class="link" href="{{ site.url_base }}/blog">Blog</a>
            </li>
        {% endif %}

        <li class="item {% if page.title == 'Contact' %}active{% endif %}">
             <a class="link" href="{{ site.url_base }}/contact.html">Contact</a>
        </li>

    </ul>
</nav>
