<p>I've had the pleasure of building a lot of fun projects, including: Podemus, a podcasting platform (one of the first, back in 2005); LeLab.TV, a video platform (for which I also produced <a href="https://www.youtube.com/playlist?list=PLW7-xYtAY3tWEeEFyRG865-RB6V9uwLs1" target="_blank">video content</a>); <a href="http://blog.deborniol.com/cat/babelverse/" target="_blank">Babelverse</a>, an award-winning startup that took on the challenge of creating the 'universal translator', and now as a tech volunteer for many grassroots solidarity organisations in Greece, I’m busy setting up computer labs and online solutions to meet the needs of refugees.

<p>My current projects include:

<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url_base }}{{ post.url }}{% endif %}">
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
