<div class="social-links">

	{% if site.email_link %}
			<a class="link" data-title="Send me a message" href="{{ site.email_link }}">
					<svg style="fill:green" class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
			</a>
	{% endif %}

	{% if site.email %}
			<a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}">
					<svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
			</a>
	{% endif %}

	{% if site.mastodon %}
	<a class="link" rel="me" data-title="Follow on Mastodon / the fediverse" href="{{ site.mastodon }}" target="_blank">
			 <svg class="icon icon-mastodon"><use xlink:href="#icon-mastodon"></use></svg>
	 </a>
	{% endif %}

	{% if site.twitter %}
	    <a class="link" rel="me" data-title="Follow on Twitter" href="http://twitter.com/{{ site.twitter }}" target="_blank">
	        <svg style="fill:bisque" class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
	    </a>
	{% endif %}

  {% if site.facebook %}
      <a class="link" rel="me" data-title="Follow on Facebook" href="http://facebook.com/{{ site.facebook }}" target="_blank">
          <svg style="fill:bisque" class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
      </a>
  {% endif %}


	{% if site.medium %}
	    <a class="link" rel="me" data-title="Reading &amp; Writing on Medium" href="https://medium.com/@{{ site.medium }}" target="_blank">
	        <svg style="fill:#E2DFE5" class="icon icon-medium"><use xlink:href="#icon-medium"></use></svg>
	    </a>
	{% endif %}

  {% if site.google %}
      <a class="link" rel="me" data-title="Google+" href="http://plus.google.com/+{{ site.google }}" target="_blank">
          <svg class="icon icon-google"><use xlink:href="#icon-google"></use></svg>
      </a>
  {% endif %}

  {% if site.instagram %}
      <a class="link" rel="me" data-title="Photos on Instagram" href="http://instagram.com/{{ site.instagram }}" target="_blank">
          <svg style="fill:#E2DFE5" class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
      </a>
  {% endif %}

  {% if site.pinterest %}
      <a class="link" data-title="Pins" href="http://pinterest.com/{{ site.pinterest }}" target="_blank">
          <svg class="icon icon-pinterest"><use xlink:href="#icon-pinterest"></use></svg>
      </a>
  {% endif %}


  {% if site.youtube %}
      <a class="link" data-title="Watch videos on YouTube" href="http://youtube.com/{{ site.youtube }}" target="_blank">
          <svg style="fill:#E2DFE5" class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg>
      </a>
  {% endif %}

  {% if site.vimeo %}
      <a class="link" data-title="Videos on Vimeo" href="https://vimeo.com/{{ site.vimeo }}" target="_blank">
          <svg class="icon icon-vimeo"><use xlink:href="#icon-vimeo"></use></svg>
      </a>
  {% endif %}

  {% if site.spotify %}
      <a class="link" data-title="Listen to music on Spotify" href="https://open.spotify.com/user/{{ site.spotify }}" target="_blank">
          <svg class="icon icon-spotify"><use xlink:href="#icon-spotify"></use></svg>
      </a>
  {% endif %}


  {% if site.quora %}
      <a class="link" rel="me" data-title="Ask or answer questions on Quora" href="https://www.quora.com/profile/{{ site.quora }}" target="_blank">
          <svg style="fill:#E2DFE5" class="icon icon-quora"><use xlink:href="#icon-quora"></use></svg>
      </a>
  {% endif %}

  {% if site.reddit %}
      <a class="link" rel="me" data-title="Discuss random things on Reddit" href="https://www.reddit.com/user/{{ site.reddit }}" target="_blank">
          <svg style="fill:#E2DFE5" class="icon icon-reddit"><use xlink:href="#icon-reddit"></use></svg>
      </a>
  {% endif %}


  {% if site.keybase %}
	<a class="link" rel="me" data-title="Send me an encrypted message or document via Keybase" href="https://keybase.io/{{ site.keybase }}" target="_blank">
	    <svg style="fill:salmon" class="icon icon-key"><use xlink:href="#icon-key"></use></svg>
	</a>
  {% endif %}

	{% if site.bitcoin %}
		<a class="link" rel="me" data-title="Pay/donate some Bitcoin" href="{{ site.bitcoin }}" target="_blank">
		    <svg style="fill:salmon" class="icon icon-btc"><use xlink:href="#icon-btc"></use></svg>
		</a>
	{% endif %}

	{% if site.linkedin %}
			<a class="link" rel="me" data-title="Work experience on LinkedIn" href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank">
					<svg style="fill:maroon" class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
			</a>
	{% endif %}

	{% if site.stackoverflow %}
			<a class="link" rel="me" data-title="Coding experience on StackOverflow" href="http://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank">
					<svg style="fill:maroon" class="icon icon-stackoverflow"><use xlink:href="#icon-stackoverflow"></use></svg>
			</a>
	{% endif %}

	{% if site.github %}
			<a class="link" rel="me" data-title="Code on Github" href="https://github.com/{{ site.github }}" target="_blank">
					<svg style="fill:maroon" class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
			</a>
	{% endif %}

	{% if site.hire %}
		<a class="link" data-title="Hire me for a project" href="{{ site.hire }}" target="_blank">
		    <svg style="fill:maroon" class="icon icon-work"><use xlink:href="#icon-work"></use></svg>
		</a>
	{% endif %}

	{% if site.consult %}
		<a class="link" data-title="Call me for remote consulting" href="{{ site.consult }}" target="_blank">
		    <svg style="fill:maroon" class="icon icon-videochat"><use xlink:href="#icon-videochat"></use></svg>
		</a>
	{% endif %}


</div>
